<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mock 首页</title>
    <link rel="stylesheet" href="../static/element/lib/theme-chalk/index.css">
    <script src="../static/element/lib/index.js"></script>

</head>
<body>
<i class="el-icon-edit"></i>
<i class="el-icon-share"></i>
<i class="el-icon-delete"></i>
<el-button type="primary" icon="el-icon-search">搜索</el-button>
    <el-container>
        <el-header>Header</el-header>
        <el-container>
            <el-aside width="200px">Aside</el-aside>
            <el-container>
                <el-main>Main</el-main>
                <el-footer>Footer</el-footer>
            </el-container>
        </el-container>
    </el-container>
</body>
</html>